* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    background: #ffe6f5;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.oculto {
    display: none;
}

.links-generales {
    text-decoration: none;
    color: #07ad4c;
    font-weight: 600;
    transition: .5s ease all;
}

.links-generales:hover {
    color: #047c36;
}

.main {
    display: flex;
    flex-direction: row;
}

.audios {
    margin: 10px 0 10px 20px;
}

/*----------- HEADER ------------*/

.header {
    background-image: url('./img/header-fondo-cielo.png');
    background-repeat: repeat-x;
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;

}

.header__imagen {
    height: 100%;
}

/*----------------- ASIDE------------------*/

.aside {
    padding: 10px 10px 0px 10px;
    background: #ffe6f5;
    width: 300px;


    background-image: url('./img/aside-nes-bottom.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    transition: 1s linear all;
}

.aside__contenedor {
    width: 100%;
    background: #5e0359;
    border-radius: 15px;
}

.aside__titulo {
    font-size: 24px;
    color: #fff;
    margin: 10px;
}


/*----------------- NAVEGADOR --------------------*/

.navegador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegador__contenedor-botones {
    background: #ee9c9c;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.navegador__botones {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 3px;
    background: #ffffff;
    border-radius: 6px;
    transition: .5s ease all;
}

.navegador__botones:hover {
    background: #5e0359;
    color: #fff;
}

/*-------------------- REDES ------------------*/

.redes__contenedor {
    background: #ee9c9c;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.redes__link {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: .5s ease all;
}

.redes__link:hover {
    color:#5e0359;
}

.redes__titulos {
    text-align: center;
    font-size: 18px;
}

.redes__link i{
    font-size: 60px;
}

/*----------------- BOTON MOSTRAR MENU LATERAL ----------*/

.boton-mostrar-menu-lateral {
    background:#ee9c9c;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -100px;
    top: 50px;
    opacity: 0.8;
    text-align:center;
    vertical-align: middle;
    transition: 0.5s linear all;
    cursor: pointer;
}

.boton-mostrar-menu-lateral:hover {
    opacity: 1;
}

.boton-mostrar-menu-lateral i {
    color: #fff;
    line-height: 80px;
    font-size: 40px;
}

.aside__boton-cerrar-menu {
    text-align: right;
    font-size: 24px;
    color:#5e0359;
    align-self: flex-end;
    display: none;
    cursor: pointer;
}

/*----------------- ARTÍCULOS --------------------*/

.seccion-principal {
    height: 100%;
    width: 100%;
}

.titulo-ppal {
    width: 100%;
    font-size: calc(20px + 2vw);
    color: #fff;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to bottom, #af0f5f,#753375)

}



.contenedor-articulos {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background: linear-gradient(to bottom, #753375,#136fbb)
}

.articulos {
    background: #d8ebf0;
    border-radius: 15px;
    padding: 15px;
}

.titulos-articulos {
    font-size: calc(18px + 1vw);
    margin: 10px;
    width: 100%;
}

.parrafos-articulos {
    font-size: calc(10px + 1.2vh);
    text-align: left;
    line-height: 30px;
    text-indent: 20px;
}

.fotos-articulos {
    border-radius: 10px;
}

.foto-art-derecha {
    float: right;
    max-width: 400px;
    margin: 0 0 10px 15px;
}

.foto-art-izquierda {
    float: left;
    max-width: 500px;
    margin: 0 15px 10px 0 ;
}


/*---------------- ARTICULO NOVEDADES --------*/

.articulos__novedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.novedades__titulo-principal {
    width: 100%;
    grid-column: span 3;
}

.novedades__grupo {
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

}

.novedades__titulo {
    font-size: calc(16px + 0.5vw);
    text-align: center;
}

.novedades__img {
    border-radius: 15px;
    width: 80%;
}

.novedades__texto {
    font-size: 16px;
    text-indent: 15px;
    text-align: justify;
}

.novedades__link {
    text-decoration: none;
    font-weight: 600;
    color:#5e0359;
    font-size: 20px;
    transition: .5s ease all;
}

.novedades__link:hover {
    text-decoration: underline;
    color:#ee9c9c;
}

/*---------------------- PÁGINA PERSONAJES ------------*/

/*----------- INDICE PERSONAJES -------*/

.personajes__indice {
    background-color: #753375;
    padding: 10px;

    display: flex;
    flex-flow: column;
    gap: 10px;
}

.personajes-indice__titulo-ppal {
    color: #fff;
    font-size: calc(25px + 0.8vw);
    padding: 10px;
    border-bottom: 4px solid #07ad4c;
    width: 100%;


}

.personajes-indice__contenedor-ppal {
    
    display: flex;
    flex-flow: row wrap;

    background-color:#ffe6f5;
    border-radius: 15px;
    padding: 15px;
}

.personajes-indice__enlaces {
    color: #000;
    text-decoration: none;
    transition: .3s ease all;
}

.personajes-indice__enlaces:hover {
    color: #07ad4c;
}

.personajes-indice__contenedor-items-primarios {

    padding-left: 10px;
    width: 25%;

    border-left: 3px solid #5e0359;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.personajes-indice__item-primario {
    list-style-type: none;
    font-size: calc(18px + 0.6vw);
    font-weight: 600;

}

.personajes-indice__contenedor-items-secundarios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.personajes-indice__item-secundario {
    list-style-type: none;
    color: #000;
    font-size: calc(14px + 0.3vw);
    padding-left: 10px;
}

.personajes-indice__contenedor-items-terciarios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.personajes-indice__item-terciario {
    list-style-type: none;
    color: #000;
    font-size: calc(12px + 0.3vw);
    padding-left: 15px;
}

.personajes-indice__contenedor-peatones {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-top: 10px;
}

/* #################################################*/

.personajes__contenedor-ppal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.personajes__grupo_titulo-articulos {
    display: flex;
    flex-direction: column;
}

.general__contenedor-articulos {
    background: linear-gradient(to bottom, #753375,#136fbb);
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personajes__categoria {
    color: #fff;
    font-size: calc(20px + 0.8vw);
    padding: 10px;
    border-bottom: 4px solid #ee9c9c;
}

.personaje__titulo {
    font-size: calc(18px + 1vw);
    margin-bottom: 10px;
}

.foto-pj {
    float: left;
    max-width: 350px;
    margin: 0 15px 10px 0;
}


.foto-banda {
    float: left;
    max-width: 350px;
}

.personajes__contenedor-articulos-pequeños {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}

.personajes__articulos-pequeños {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*##################### PÁGINA LUGARES #################*/

/*----------- INDICE LUGARES -------*/

.lugares__indice {
    background-color: #753375;
    padding: 10px;

    display: flex;
    flex-flow: column;
    gap: 10px;
}

.lugares-indice__titulo-ppal {
    color: #fff;
    font-size: calc(25px + 0.8vw);
    padding: 10px;
    border-bottom: 4px solid #07ad4c;
    width: 100%;


}

.lugares-indice__contenedor-ppal {
    
    display: flex;
    flex-flow: row nowrap;

    background-color:#ffe6f5;
    border-radius: 15px;
    padding: 15px;
}

.lugares-indice__enlaces {
    color: #000;
    text-decoration: none;
    transition: .3s ease all;
}

.lugares-indice__enlaces:hover {
    color: #07ad4c;
}

.lugares-indice__contenedor-items-primarios {

    padding-left: 10px;
    width: 25%;

    border-left: 3px solid #5e0359;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lugares-indice__item-primario {
    list-style-type: none;
    font-size: calc(16px + 0.6vw);
    font-weight: 600;

}

.lugares-indice__contenedor-items-secundarios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lugares-indice__item-secundario {
    list-style-type: none;
    color: #000;
    font-size: calc(14px + 0.4vw);
    padding-left: 10px;
}

/*---------- SECCIÓN MAPAS ------------*/

.articulos-mapas {
    display: flex;
    flex-direction: column;
}

.foto-mapa {
    align-self: center;
    max-width: 100%;
}

/*---------- SECCIÓN LOCALES DE COMIDA ------------*/

.articulos-lugares {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    
}

.foto-locales-frente {
    float: right;
    max-width: 700px;
    
}

.articulos-lugares-parte-superior {
    width: 100%;
}

.cuadro-con-imagenes {
    /*border: 4px solid #ee9c9c;*/
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
}

.lugares__contenedor-captura {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.imagen-captura-lugar {
    border-radius: 15px;
    max-height: 300px;
    max-width: 100%;
    object-fit: contain;
}

.caption-imagen {
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/*---------- SECCIÓN LOCALES DE ROPA ------------*/

.locales-de-ropa__seccion-ropa-a-la-venta {
    width: 100%;
    height: auto;
    padding: 10px;

    background: linear-gradient(to bottom,
    #422bc4 10%, #21809b 50%, #422bc4 90%);
    border-radius: 15px;


    display: flex;
    flex-direction: column;
    gap: 10px;

}

.titulos__seccion-ropa-a-la-venta {

    color: #fff;
    font-size: calc(25px + 1vh);
    text-align: center;
}

.ropa-a-la-venta__seccion-tipo-de-prenda {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.titulos__tipo-de-prenda {
    color: #fff;
    font-size: calc(20px + 1vh);
    padding-left: 15px;
    border-bottom: 3px solid #ffe6f5;
    width: 100%;
    /*
    align-self: flex-start;
    justify-self: flex-start;
    */
}

.ropa-a-la-venta__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ropa-a-la-venta__imagen {
    border-radius: 15px;
    /*object-fit: contain;*/
    max-height: 320px;
}

.ropa-a-la-venta__caption {
    text-align: center;
    font-size: calc(10px + 1vh);
    color: #fff;
    font-style: italic;
}

.titulos-otros-locales-ropa {
    font-size: calc(20px + 1vh);
    width: 100%;
}

/*################ PÁGINA RADIOS #################*/

/*----------- INDICE RADIOS -------*/

.radios__indice {
    background-color: #753375;
    padding: 10px;

    display: flex;
    flex-flow: column;
    gap: 10px;
}

.radios-indice__titulo-ppal {
    color: #fff;
    font-size: calc(25px + 0.8vw);
    padding: 10px;
    border-bottom: 4px solid #07ad4c;
    width: 100%;


}

.radios-indice__contenedor-ppal {
    
    display: flex;
    flex-flow: row wrap;

    background-color:#ffe6f5;
    border-radius: 15px;
    padding: 15px;
}

.radios-indice__enlaces {
    color: #000;
    text-decoration: none;
    transition: .3s ease all;
}

.radios-indice__enlaces:hover {
    color: #07ad4c;
}

.radios-indice__contenedor-items-primarios {

    padding: 10px;
    width: 20%;

    border-left: 3px solid #5e0359;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radios-indice__item-primario {
    list-style-type: none;
    font-size: calc(16px + 0.6vw);
    font-weight: 600;

}

.radios-indice__contenedor-items-secundarios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radios-indice__item-secundario {
    list-style-type: none;
    color: #000;
    font-size: calc(14px + 0.4vw);
    padding-left: 10px;
}

/*----------- ARTÍCULOS RADIOS -------*/

.radios__logos {
    float: left;
    margin: 0 10px 10px 5px;
    max-width: 128px;
}

.radios__seccion-audios {
    background: #1f0010;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 15px;
}

.radios-seccion-audios__titulos {
    color: #fff;
    width: 100%;
}

/*################ PÁGINA GALERÍA #################*/

/*-------- ÍNDICE DE GALERÍA -------*/

.galeria__indice {
    background-color: #753375;
    padding: 10px;

    display: flex;
    flex-flow: column;
    gap: 10px;
}

.galeria-indice__titulo-ppal {
    color: #fff;
    font-size: calc(25px + 0.8vw);
    padding: 10px;
    border-bottom: 4px solid #07ad4c;
    width: 100%;


}

.galeria-indice__contenedor-ppal {
    
    display: flex;
    flex-flow: row wrap;

    background-color:#ffe6f5;
    border-radius: 15px;
    padding: 15px;
}

.galeria-indice__enlaces {
    color: #000;
    text-decoration: none;
    transition: .3s ease all;
}

.galeria-indice__enlaces:hover {
    color: #07ad4c;
}

.galeria-indice__contenedor-items-primarios {

    padding: 10px;
    width: 25%;

    border-left: 3px solid #5e0359;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.galeria-indice__item-primario {
    list-style-type: none;
    font-size: calc(16px + 0.6vw);
    font-weight: 600;

}

.galeria-indice__contenedor-items-secundarios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.galeria-indice__item-secundario {
    list-style-type: none;
    color: #000;
    font-size: calc(14px + 0.4vw);
    padding-left: 10px;
}

/*----------- ARTÍCULOS GALERÍA DE IMÁGENES -------*/

.galeria__contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    margin: auto;
    gap: 5px;
    overflow: hidden;/*chequear si hace falta*/

}

.galeria__imagen {
    max-width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
    border: 5px solid transparent;
}

.galeria__imagen:hover {
    border: 5px solid #07ad4c;
    cursor: pointer;
    transition: border .5s;
}

/*########### VISUALIZADOR LIGHTBOX ###########*/

.galeria__container-img {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(-100%);
    transition: transform .5s ease-in;
}

.galeria__img-show {
    max-height: 85%;
    max-width: 90%;
    display: block;
    object-fit: cover;
    transform: scale(0);
    transition: transform .2s .4s;
}

.galeria__mostrar-img {
    transform: scale(1);
}

.galeria__img-move {
    transform: translateX(0);
}

.galeria__copy {
    position: fixed;
    color: #fff;
    bottom: 30px;
}

.vis-img__icono-cerrar {
    position: absolute;
    color: #ffe6f5;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}


/*################# REPRODUCTORES DE MÚSICA ################*/

.reproductor-musica-single {
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    margin: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.reproductor-musica-single > * {
    z-index: 1;
}

.reproductor-musica-single::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/rep-musica-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
}

.reproductor-musica-single::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(54, 2, 56, 0.6), rgba(3, 2, 56, 0.6));
    z-index: 0.5;
    border-radius: 15px;
}

.reproductor-musica-single h4 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
}

.reproductor-musica-single p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.reproductor-musica-single input {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: rgba(165, 165, 165, 0.4);
    border-radius: 4px;
    margin: 15px 0 10px;
    cursor: pointer;
}

.reproductor-musica-single input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: rgba(165, 165, 165, 0.9);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 4px solid #fff;
    box-shadow: 0 6px 10px rgba(228, 228, 228, 0.3);    
} 

.rep-musica__controles button {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 10px;
    background: rgba(165, 165, 165, 0.3);
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    outline: 0;
    font-size: 1.6rem;
    box-shadow: 0 6px 10px rgba(228, 228, 228, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}


.rep-musica__controles button:hover {
    transform: scale(1.1);
}



/*---------------------- FOOTER ---------------*/

.footer {
    background:#02213a;
    height: 200px;
    width: 100%;
    display: flex;
    grid-column: span 2;
}

.footer__texto {
    color: #fff;
    font-weight: 600;
    font-size: calc(12px + 0.2vw);
}

.footer__link:hover {
    text-decoration: underline;
} 

.footer__grupo-logo {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer__grupo-info-1,
.footer__grupo-info-2 {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.footer__logo-voglinn-games {
    height: 130px;
    width: 130px;
}

/*------------- BOTÓN DE SUBIR ARRIBA ----------*/

.boton-subir-arriba {
    position: fixed;
    right: 0px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    background: rgba(163,163,163,0.8);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    transition: .5s ease all;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

.boton-subir-arriba:hover {
    background: rgba(59,59,59,0.8);
    color: #fff;
}

/*-------- MEDIA QUERIES -----------*/

@media only screen and (max-width:1200px) {
    .foto-intro-1 {
        float:none;
        width: 100%;
        margin: 10px 0px;
    }

    .foto-argumento-1 {
        float:none;
        width: 100%;
        margin: 10px 0px;
    }

    .foto-argumento-2 {
        float:none;
        width: 100%;
        margin: 10px 0px;
    }

    .articulos__novedades {
        grid-template-columns: 1fr 1fr;
    }

    .novedades__titulo-principal {
        grid-column: span 2;
    }

    .radios-indice__contenedor-items-primarios {
        width: 33%;
    }
}

@media only screen and (max-width:900px) {
    .aside {
        position: absolute;
        left: -350px;
    }

    .aside__mostrar {
        left: 0px;
    }
    
    .boton-mostrar-menu-lateral {
        left: 0px;
    }

    .aside__boton-cerrar-menu {
        display: block;
    }

    .main {
        display: flex;
        flex-direction: column;

    }

    .fotos-articulos {
        margin: 10px;
    }

    .foto-locales-frente {
        max-width: 100%;
        float: none;
    }

    .lugares-indice__contenedor-ppal {
        flex-flow: row wrap;
    }

    .lugares-indice__contenedor-items-primarios {
        width: 50%;
    }

    .personajes-indice__contenedor-ppal  {
        padding: 8px;
    }

    .personajes-indice__contenedor-items-primarios {
        padding-left: 10px;
        width: 50%;
    }

    .personajes-indice__item-secundario {
        padding-left: 5px;
    }

    .personajes-indice__item-terciario {
        padding-left: 10px;
    }



}

@media only screen and (max-width:600px) {
    .header {
        justify-content: center;
    }

    .header__imagen-lados {
        display: none;
    }

    .footer {
        flex-direction: column;
        height: auto;
    }

    .footer__grupo-logo {
        width: 100%;
    }

    .footer__grupo-info-1,
    .footer__grupo-info-2 {
    width: 100%;
    padding: 10px;
    }

    .articulos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .articulos__novedades {
        grid-template-columns: 1fr;
    }

    .novedades__titulo-principal {
        grid-column: span 1;
    }

    .locales-de-ropa__seccion-ropa-a-la-venta {
        padding: 0px;
        padding-top: 10px;
    }

    .ropa-a-la-venta__imagen {
        width: 100%;
        max-width: fit-content;
        height: auto;
    }

    .lugares-indice__contenedor-ppal {
        flex-flow: column nowrap;
    }

    .lugares-indice__contenedor-items-primarios {
        width: 100%;
    }

    .audios {
        width: 100%;
        margin: 10px 0 10px 0px
    }

    .cuadro-con-imagenes {
        padding: 10px 0px;
    }

    .personajes-indice__contenedor-items-primarios {
        width: 100%;
    }

    .foto-banda {
        width: 100%;
    }

    .foto-pj {
        width: 100%;
    }

    .fotos-articulos {
        margin: 5px 0px;
        width: 100%;
    }

    .radios-indice__contenedor-items-primarios {
        width: 50%;
    }
}

@media only screen and (max-width:400px) {
    .radios-indice__contenedor-items-primarios {
        width: 100%;
    }

    .aside {
        width: 250px;
    }

    .galeria__contenedor-imagenes {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
